html {
   font-family: 'Roboto', sans-serif;
 }
 
/*Quotes*/
.quotes {
    margin: 0 auto;
    width: 50%;
}
.quotes .card-content {
    width: 100%;
    height: 400px;
    background-size: cover;
}
.quotes img {
    width: 25px;
    height: auto;
}
.quotes blockquote {
    font-size: 22px;
}
.quotes blockquote small {
    font-size: 12px;
    font-style: italic;
}
.quotes .material-icons {
    cursor: pointer;
    background-color: #004d40;
    color: white;
}

/*Button Quotes*/
.btn-quotes {
    float: left;
    position: relative;
    left: 30%;
    top: 14px;
}
/*Toolbox*/
.toolbox {
    position: relative;
    top: -10px;
}
.toolbox i {
    font-size: 30px;
    position: relative;
    top: 6px;
}
.toolbox span strong {
    font-size: 14px;
    cursor: pointer;
}

/*Notes*/
.notes {
    background-color: whitesmoke;
    height:50vh;
}
/*Collection*/
 .collection {
     margin: 0;
 }
 .collection li {
     cursor: pointer;
 }
 .collection p {
     color: #8e8e8e;
     font-size: 12px;
 }
 /*Modal Content*/
 .modal-content {
     z-index: -9;
     padding-top: 64px;
     position: fixed;
     width: 40%;
 }
 .modal-content .close {
     position: fixed;
     left: 100%;
     z-index: 9;
     background-color: #ff1047;
     color: white;
     font-weight: bold;
     cursor: pointer;
 }
 /*Moment*/
 .moment {
     margin-top: -13px;
 }
 .moment small {
     top: -7px;
     position: relative;
 }

/*Tooltips*/
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 150px;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
